@media(max-width: 1000px) {
    .copy-container h1 {
    font-size: 32px;
    
  }
}

@media(max-width: 670px) {
  .copy-container {
    width: 100%;
  }
img {
    width: 50%;
}
footer {
    input,textarea {
    
    }
  }

 
}
